<!DOCTYPE html>
<html>
<head>
  <title>Catalograils</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="logged_out">
<div id="wrapper">

  <div id="content_wrapper">
    <div id="active_admin_content">
        <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
